{{!< default}}

{{> content-header}}

<main class="container content" id="content">

  <article class="page">

    <header class="page__header">
      <h1 class="page__title mt0">{{statusCode}}</h1>
    </header>

    <section class="page__content center-text">
      <p>{{message}}</p>
      <p><a href="{{@site.url}}">&larr; {{t "Home"}}</a></p>
    </section>

  </article>

</main>
